.header{
	z-index: 99;
}
.header__nav__item{
	position: relative;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	color: var(--secondary-color);
	font-size: 14px;
}
.header__nav__item:before{
	position: absolute;
	content: "";
	left: 0;
	bottom: -2px;
	width: 0%;
	height: 1px;
	background-color: var(--secondary-color);
	transition: all .2s linear;
}
.header__nav__item:hover:before {
	width: 50%;
}
.header__nav .active:before {
	position: absolute;
	content: "";
	left: 0;
	bottom: -2px;
	width: 50%;
	height: 1px;
	background-color: var(--secondary-color);
	transition: all .2s linear;
}
.header__search input{
	width: 70px;
	outline: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: var(--primary-color);
	font-weight: 300;
	border-bottom: 1px solid transparent;
	transition: all .2s linear;
}
.header__search input::placeholder{
	color: var(--primary-color);
}
.header__search input:focus{
	border-color: var(--primary-color);
	width: 150px;
}
.header__search input:focus::placeholder{
	color: gray;
}
.header__menu{
	display: none;
}
.header__nav__movil{
	position: absolute;
	width: 100%;
	top: 80px;
	left: 0;
}
.header__nav__movil__item{
	background-color: var(--primary-color);
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	color: var(--custom);
	font-weight: 300;
	border-bottom: 1px solid var(--custom);
}
.header__nav__movil__item:hover{
	background-color: var(--custom);
	color: var(--primary-color);
}

@media only screen and (max-width: 1023px) {
	.header__menu {
		display: block;
	}
	.header__nav, .header__search{
		display: none;
	}
	.header__logo img{
		width: 94px !important;
	}
}