#home {
	background-image: url('../assets/img/banner-home.webp');
	height: 800px;
}
#agente{
	background-image: url('../assets/img/banner-agente.webp');
	height: 800px;
}
#home, #agente, 
.banner-info__images__item--custom, 
.banner-call, .banner-data,
.banner-line{
	background-size: cover;
	background-position: center;
}
.banner__text{
	width: 100%;
	max-width: 520px;
}
.banner__text--large {
	max-width: 750px;
}
.title-ppal{
	font-family: 'Fahkwang Medium', sans-serif;
	font-size: 68px;
	line-height: 72px;
	color: var(--white);
}
.subtitle{
	font-family: 'Fahkwang Medium', sans-serif;
	font-size: 31px;
	line-height: 34px;
	color: var(--white);
}
.banner-info{
	background-color: var(--bg-footer);
	padding: 80px 0;
}
.banner-info--custom{
	background-image: url('../assets/img/line-effect-3.webp');
	min-height: 780px;
	background-repeat: repeat-x;
	background-size: contain;
	background-position: left center;
}
.banner-info--map{
	background-image: url('../assets/img/line-effect-5.png');
	background-color: var(--white);
	padding: 80px 0;
	min-height: 840px;
	background-size: cover;
	background-position-x: center;
	background-position-y: -100px;
	background-repeat: no-repeat;
}
.banner-info__text{
	max-width: 520px;
	padding-top: 50px;
}
.banner-info__text--large {
	max-width: 680px;
}
.banner-info__text__title, 
.banner-info__text__subtitle, 
.banner-info__text__custom {
	font-family: 'Fahkwang Medium', sans-serif;
	font-size: 55px;
	line-height: 62px;
	color: var(--primary-color);
}
.banner-info__text__subtitle {
	font-size: 23px;
	line-height: 30px;
}
.banner-info__text__custom {
	font-size: 20px;
	line-height: 24px;
}
.banner-info__text__text{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: var(--primary-color);
	font-weight: 300;
}
.banner-info__icono__text{
	width: 214px;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	color: var(--primary-color);
	font-weight: 300;
	margin-left: 10px;
}
.banner-info__images{
	padding-right: 30px;
}
.banner-info__images__item{
	width: 530px;
	height: max-content;
}
.banner-info__images__item--custom{
	background-image: url('../assets/img/image-post-2.webp');
	position: absolute;
	right: 410px;
	top: 240px;
	width: 256px;
	height: 256px;
	border-radius: 50%;
	border: 5px solid var(--white);
}
.banner-call__text{
	max-width: 935px;
}
.banner-call__text_info{
	font-family: 'Fahkwang Regular', sans-serif;
	font-size: 23px;
	line-height: 30px;
	color: var(--white);
}
.banner-data{
	background-image: url('../assets/img/line-effect-2.webp');
}
.banner-data__item{
	width: 32%;
}
.banner-gray{
	background-color: var(--bg-footer);
}
.banner-blue{
	background-color: var(--primary-color);
}
.banner-blue__title{
	font-family: 'Fahkwang Regular', sans-serif;
	font-size: 55px;
	line-height: 62px;
	color: var(--white);
}
.banner-blue__info{
	font-family: 'Fahkwang Regular', sans-serif;
	font-size: 29px;
	line-height: 35px;
	color: var(--white);
	width: 400px;
	margin: 20px auto 0;
}
.banner-blue__container{
	max-width: 854px;
}
.banner-blue__subtitle {
	font-family: 'Fahkwang Regular', sans-serif;
	font-size: 23px;
	line-height: 28px;
	color: var(--white);
}
.banner-blue__text{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: var(--white);
	font-weight: 300;
	margin-top: 50px;
}
.banner-blue__text span{
	font-weight: 700;
}
.banner-line{
	background-image: url('../assets/img/line-effect-4.webp');
}
.banner-listado{
	background-image: url('../assets/img/line-effect-5.png');
	background-color: var(--white);
	min-height: 840px;
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
}
.banner-listado__total, .banner-listado__select{
	font-family: 'Montserrat', sans-serif;
	color: var(--secondary-color);
	font-size: 14px;
	line-height: 20px;
}
.banner-listado__select{
	font-weight: 300;
	border-radius: 50px;
	padding: 17px 20px;
	min-width: 220px;
	border: 1px solid var(--secondary-color);
	background-color: var(--white);
	cursor: pointer;
	z-index: 50;
	margin-left: 20px;
}
.banner-listado__select:hover{
	background-color: var(--secondary-color);
	color: var(--white);
	border-radius: 10px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	z-index: 60;
}
.banner-listado__select:hover .banner-listado__arrow {
	border-color: var(--white);
}
.banner-listado__select:hover .banner-listado__list{
	display: block;
}
.banner-listado__arrow{
	position: absolute;
	width: 12px;
	height: 12px;
	border-bottom: 1px solid var(--secondary-color);
	border-right: 1px solid var(--secondary-color);
	transform: rotate(45deg);
	top: 12px;
	right: 20px;
}
.banner-listado__list{
	display: none;
	position: absolute;
	width: calc(100% + 2px);
	top: calc(100% - 2px);
	left: -1px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	overflow: hidden;
	border-top: 1px solid var(--white);
}
.banner-listado__list__item{
	background-color: var(--secondary-color);
	color: var(--white);
	padding: 10px 10px;
}
.banner-listado__list__item:hover{
	background-color: var(--white);
	color: var(--secondary-color);
}

@media only screen and (max-width: 1440px) {
	.banner-info__text--large {
		max-width: 520px;
	}
}
@media only screen and (max-width: 1280px) {
	.banner-info--custom {
		min-height: 500px;
	}
}
@media only screen and (max-width: 1240px) {
	.banner-info__images__item {
		width: 450px;
	}
	.banner-info__images {
		padding-right: 0px;
	}
	.banner-info__images__item--custom {
		top: 358px;
		right: calc(225px - 128px);
	}
}
@media only screen and (max-width: 1023px) {
	#home, #agente{
		height: 550px;
	}
	.banner__text, .banner-info__text{
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
	.banner-info {
		background-color: var(--bg-footer);
		padding-top: 50px;
	}
	.banner-info--custom{
		padding: 50px 0;
		background-size: cover;
		background-position: center;
	}
	.banner-info__text{
		padding-top: 0px;
	}
	.banner-info__images__item--custom {
		right: 410px;
		top: unset;
		bottom: -128px;
		right: calc(50% - 128px);
	}
	.title-ppal {
		font-size: 48px;
		line-height: 60px;
	}
	.subtitle {
		font-size: 25px;
		line-height: 30px;
	}
	.banner-info__text__title, .banner-blue__title{
		font-size: 40px;
		line-height: 48px;
	}
	.banner-info__text__subtitle{
		font-size: 20px;
		line-height: 26px;
	}
	.banner-call .title-ppal {
		font-size: 40px;
		line-height: 50px;
	}
	.banner-data__item {
		width: 49%;
	}
	.banner-gray__logo {
		height: 60px;
	}
	.banner-blue__info{
		font-size: 22px;
		line-height: 28px;
		width: 320px;
		margin-bottom: 40px;
	}
	.banner-blue__image {
		height: 100px;
	}
	.banner-listado__total{
		text-align: center;
		margin-bottom: 30px;
	}
	.banner-listado__select{
		margin: 0 10px;
	}
}
@media only screen and (max-width: 639px) {
	#home {
		height: 500px;
	}
	.banner-data__item {
		width: 100%;
	}
	.banner-gray__logo{
		height: 70px;
		margin: 0 auto 40px;
	}
	.title-ppal {
		font-size: 40px;
		line-height: 50px;
	}
	.banner-call .title-ppal {
		font-size: 30px;
		line-height: 38px;
	}
	.subtitle {
		font-size: 22px;
		line-height: 30px;
	}
	.banner-info__text__title {
		font-size: 36px;
		line-height: 42px;
	}
	.banner-blue__image{
		height: 80px;
	}
	.banner-blue__title {
		font-size: 30px;
		line-height: 38px;
	}
	.banner-listado__select{
		min-width: 100%;
		margin-bottom: 30px;
	}
}